In [1]:
import pandas as pd 
import numpy as np 
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense, LSTM, BatchNormalization, Flatten
from keras.callbacks import EarlyStopping, ModelCheckpoint, LearningRateScheduler, TensorBoard
import matplotlib.pyplot as plt
import seaborn as sns

2023-03-02 17:41:03.849011: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-02 17:41:03.990956: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/google/chrome:/opt/google/chrome/lib
2023-03-02 17:41:03.990980: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-03-02 17:41:04.806695: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/google/chrome:/opt/google/chrome/lib
2023-03-02 17:41:04.806803: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/google/chrome:/opt/google/chrome/lib
2023-03-02 17:41:04.806814: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
df_train = pd.read_csv('Train.csv')
df_test = pd.read_csv('Test.csv')

In [3]:
df_train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [4]:
def df_dados(df):
    
    df_details = {"unique" : df.nunique(),
                        "dtype" : df.dtypes,
                        "null" : df.isna().sum()}
                        
    df_details = pd.DataFrame(df_details)

    display(df_details), print(f"Quantidade de dados duplicados: {df.duplicated().sum()}")

In [5]:
df_dados(df_train)

df_dados(df_test)

                 unique    dtype  null
ID                 8068    int64     0
Gender                2   object     0
Ever_Married          2   object   140
Age                  67    int64     0
Graduated             2   object    78
Profession            9   object   124
Work_Experience      15  float64   829
Spending_Score        3   object     0
Family_Size           9  float64   335
Var_1                 7   object    76
Segmentation          4   object     0

Quantidade de dados duplicados: 0

                 unique    dtype  null
ID                 2627    int64     0
Gender                2   object     0
Ever_Married          2   object    50
Age                  67    int64     0
Graduated             2   object    24
Profession            9   object    38
Work_Experience      15  float64   269
Spending_Score        3   object     0
Family_Size           9  float64   113
Var_1                 7   object    32
Segmentation          4   object     0

Quantidade de dados duplicados: 0

In [6]:
df_train, df_test = df_train.dropna(axis = 0), df_test.dropna(axis = 0) 

df_train, df_test = df_train.reset_index(drop = True), df_test.reset_index(drop = True)

df_train, df_test = df_train.drop(["ID"], axis= 1), df_test.drop(["ID"], axis= 1)

In [7]:
df_dados(df_train)

df_dados(df_test)

                 unique    dtype  null
Gender                2   object     0
Ever_Married          2   object     0
Age                  67    int64     0
Graduated             2   object     0
Profession            9   object     0
Work_Experience      15  float64     0
Spending_Score        3   object     0
Family_Size           9  float64     0
Var_1                 7   object     0
Segmentation          4   object     0

Quantidade de dados duplicados: 392

                 unique    dtype  null
Gender                2   object     0
Ever_Married          2   object     0
Age                  67    int64     0
Graduated             2   object     0
Profession            9   object     0
Work_Experience      15  float64     0
Spending_Score        3   object     0
Family_Size           9  float64     0
Var_1                 7   object     0
Segmentation          4   object     0

Quantidade de dados duplicados: 20

In [8]:
def alter_data_unique(df):

    label_encoder = preprocessing.LabelEncoder()

    columns_ = df.columns

    for column in columns_:

        if df[column].dtype == 'object':
            df_unique = df[column].unique()
            print(f"{column} - {df_unique}")
            df[column] = label_encoder.fit_transform(df[column])
            df_unique = df[column].unique()
            print(f"{column} - {df_unique}")

In [9]:
def normalization_return_x_and_y(df):

    columns_ = df.columns

    for column in columns_:
        if column != "Segmentation":
            df[column] = df[column] / df[column].max()

    df_x = df.drop(["Segmentation"], axis = 1)
    df_y = df["Segmentation"]
    x = np.array(df_x)
    y = to_categorical(df_y, len(df_y.unique()))

    return x, y

In [10]:
alter_data_unique(df_train)

Gender - ['Male' 'Female']
Gender - [1 0]
Ever_Married - ['No' 'Yes']
Ever_Married - [0 1]
Graduated - ['No' 'Yes']
Graduated - [0 1]
Profession - ['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Executive']
Profession - [5 2 7 0 1 6 3 8 4]
Spending_Score - ['Low' 'High' 'Average']
Spending_Score - [2 1 0]
Var_1 - ['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5']
Var_1 - [3 5 6 2 0 1 4]
Segmentation - ['D' 'B' 'C' 'A']
Segmentation - [3 1 2 0]

In [11]:
x_train, y_train = normalization_return_x_and_y(df_train)

In [12]:
alter_data_unique(df_test)

Gender - ['Female' 'Male']
Gender - [0 1]
Ever_Married - ['Yes' 'No']
Ever_Married - [1 0]
Graduated - ['Yes' 'No']
Graduated - [1 0]
Profession - ['Engineer' 'Healthcare' 'Executive' 'Doctor' 'Artist' 'Lawyer'
 'Entertainment' 'Homemaker' 'Marketing']
Profession - [2 5 4 1 0 7 3 6 8]
Spending_Score - ['Low' 'Average' 'High']
Spending_Score - [2 0 1]
Var_1 - ['Cat_6' 'Cat_4' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5' 'Cat_7']
Var_1 - [5 3 2 0 1 4 6]
Segmentation - ['B' 'A' 'C' 'D']
Segmentation - [1 0 2 3]

In [13]:
x_test, y_test = normalization_return_x_and_y(df_test)

In [14]:
model = Sequential()

model.add(Dense(1000, activation = 'relu'))
model.add(Dense(500, activation = 'relu'))
model.add(Dense(4, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics=['accuracy'])

2023-03-02 17:41:06.837574: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/google/chrome:/opt/google/chrome/lib
2023-03-02 17:41:06.837602: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-03-02 17:41:06.837628: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (pop-os): /proc/driver/nvidia/version does not exist
2023-03-02 17:41:06.837893: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# early_stopping = EarlyStopping(
#     monitor = 'loss', 
#     min_delta = 0.05, 
#     patience = 5
# )

# checkpoint = ModelCheckpoint(
#     'model.w', 
#     monitor='loss', 
#     save_best_only=True, 
#     save_weights_only=True
# )

In [16]:
checkpoint = TensorBoard(log_dir="./logs")

In [19]:
def scheduler(epochs, batch_size):
    if epochs < 10:
        return batch_size
    else:
        batch_size += (batch_size * 0.01)
        return batch_size

In [20]:
callback = LearningRateScheduler(scheduler)

In [21]:
model.fit(x_train, y_train, epochs = 100, batch_size = 10, callbacks=[checkpoint, callback])

Epoch 1/100
667/667 [==============================] - 6s 7ms/step - loss: 1.1529 - accuracy: 0.4821 - lr: 0.0010
Epoch 2/100
667/667 [==============================] - 5s 7ms/step - loss: 1.1165 - accuracy: 0.5040 - lr: 0.0010
Epoch 3/100
667/667 [==============================] - 5s 7ms/step - loss: 1.1025 - accuracy: 0.5158 - lr: 0.0010
Epoch 4/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0934 - accuracy: 0.5152 - lr: 0.0010
Epoch 5/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0821 - accuracy: 0.5197 - lr: 0.0010
Epoch 6/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0771 - accuracy: 0.5260 - lr: 0.0010
Epoch 7/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0673 - accuracy: 0.5305 - lr: 0.0010
Epoch 8/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0624 - accuracy: 0.5293 - lr: 0.0010
Epoch 9/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0583 - accuracy: 0.5308 - lr: 0.0010
Epoch 10/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0539 - accuracy: 0.5343 - lr: 0.0010
Epoch 11/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0411 - accuracy: 0.5440 - lr: 0.0010
Epoch 12/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0399 - accuracy: 0.5406 - lr: 0.0010
Epoch 13/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0359 - accuracy: 0.5475 - lr: 0.0010
Epoch 14/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0310 - accuracy: 0.5439 - lr: 0.0010
Epoch 15/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0247 - accuracy: 0.5443 - lr: 0.0011
Epoch 16/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0243 - accuracy: 0.5497 - lr: 0.0011
Epoch 17/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0175 - accuracy: 0.5512 - lr: 0.0011
Epoch 18/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0142 - accuracy: 0.5533 - lr: 0.0011
Epoch 19/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0088 - accuracy: 0.5584 - lr: 0.0011
Epoch 20/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0059 - accuracy: 0.5553 - lr: 0.0011
Epoch 21/100
667/667 [==============================] - 5s 7ms/step - loss: 1.0021 - accuracy: 0.5608 - lr: 0.0011
Epoch 22/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9996 - accuracy: 0.5589 - lr: 0.0011
Epoch 23/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9943 - accuracy: 0.5623 - lr: 0.0011
Epoch 24/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9890 - accuracy: 0.5632 - lr: 0.0011
Epoch 25/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9859 - accuracy: 0.5655 - lr: 0.0012
Epoch 26/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9813 - accuracy: 0.5655 - lr: 0.0012
Epoch 27/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9774 - accuracy: 0.5686 - lr: 0.0012
Epoch 28/100
667/667 [==============================] - 5s 8ms/step - loss: 0.9726 - accuracy: 0.5748 - lr: 0.0012
Epoch 29/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9645 - accuracy: 0.5752 - lr: 0.0012
Epoch 30/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9593 - accuracy: 0.5775 - lr: 0.0012
Epoch 31/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9586 - accuracy: 0.5836 - lr: 0.0012
Epoch 32/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9515 - accuracy: 0.5775 - lr: 0.0012
Epoch 33/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9469 - accuracy: 0.5827 - lr: 0.0013
Epoch 34/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9411 - accuracy: 0.5811 - lr: 0.0013
Epoch 35/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9365 - accuracy: 0.5832 - lr: 0.0013
Epoch 36/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9318 - accuracy: 0.5860 - lr: 0.0013
Epoch 37/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9260 - accuracy: 0.5920 - lr: 0.0013
Epoch 38/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9211 - accuracy: 0.5892 - lr: 0.0013
Epoch 39/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9122 - accuracy: 0.5928 - lr: 0.0013
Epoch 40/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9060 - accuracy: 0.6024 - lr: 0.0013
Epoch 41/100
667/667 [==============================] - 5s 7ms/step - loss: 0.9012 - accuracy: 0.5982 - lr: 0.0014
Epoch 42/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8990 - accuracy: 0.6011 - lr: 0.0014
Epoch 43/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8901 - accuracy: 0.6071 - lr: 0.0014
Epoch 44/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8850 - accuracy: 0.6059 - lr: 0.0014
Epoch 45/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8796 - accuracy: 0.6096 - lr: 0.0014
Epoch 46/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8805 - accuracy: 0.6129 - lr: 0.0014
Epoch 47/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8738 - accuracy: 0.6108 - lr: 0.0014
Epoch 48/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8725 - accuracy: 0.6138 - lr: 0.0015
Epoch 49/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8575 - accuracy: 0.6227 - lr: 0.0015
Epoch 50/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8554 - accuracy: 0.6165 - lr: 0.0015
Epoch 51/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8525 - accuracy: 0.6242 - lr: 0.0015
Epoch 52/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8440 - accuracy: 0.6284 - lr: 0.0015
Epoch 53/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8382 - accuracy: 0.6296 - lr: 0.0015
Epoch 54/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8327 - accuracy: 0.6287 - lr: 0.0015
Epoch 55/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8271 - accuracy: 0.6333 - lr: 0.0016
Epoch 56/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8302 - accuracy: 0.6287 - lr: 0.0016
Epoch 57/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8188 - accuracy: 0.6359 - lr: 0.0016
Epoch 58/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8153 - accuracy: 0.6359 - lr: 0.0016
Epoch 59/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8156 - accuracy: 0.6458 - lr: 0.0016
Epoch 60/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8084 - accuracy: 0.6431 - lr: 0.0016
Epoch 61/100
667/667 [==============================] - 5s 7ms/step - loss: 0.8025 - accuracy: 0.6405 - lr: 0.0017
Epoch 62/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7917 - accuracy: 0.6498 - lr: 0.0017
Epoch 63/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7969 - accuracy: 0.6510 - lr: 0.0017
Epoch 64/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7887 - accuracy: 0.6480 - lr: 0.0017
Epoch 65/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7856 - accuracy: 0.6521 - lr: 0.0017
Epoch 66/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7838 - accuracy: 0.6536 - lr: 0.0017
Epoch 67/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7766 - accuracy: 0.6552 - lr: 0.0018
Epoch 68/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7703 - accuracy: 0.6584 - lr: 0.0018
Epoch 69/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7588 - accuracy: 0.6606 - lr: 0.0018
Epoch 70/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7612 - accuracy: 0.6636 - lr: 0.0018
Epoch 71/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7629 - accuracy: 0.6623 - lr: 0.0018
Epoch 72/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7632 - accuracy: 0.6594 - lr: 0.0019
Epoch 73/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7515 - accuracy: 0.6708 - lr: 0.0019
Epoch 74/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7491 - accuracy: 0.6702 - lr: 0.0019
Epoch 75/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7471 - accuracy: 0.6681 - lr: 0.0019
Epoch 76/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7441 - accuracy: 0.6744 - lr: 0.0019
Epoch 77/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7416 - accuracy: 0.6737 - lr: 0.0019
Epoch 78/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7388 - accuracy: 0.6746 - lr: 0.0020
Epoch 79/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7355 - accuracy: 0.6737 - lr: 0.0020
Epoch 80/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7312 - accuracy: 0.6729 - lr: 0.0020
Epoch 81/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7341 - accuracy: 0.6783 - lr: 0.0020
Epoch 82/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7186 - accuracy: 0.6890 - lr: 0.0020
Epoch 83/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7209 - accuracy: 0.6846 - lr: 0.0021
Epoch 84/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7263 - accuracy: 0.6768 - lr: 0.0021
Epoch 85/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7211 - accuracy: 0.6836 - lr: 0.0021
Epoch 86/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7103 - accuracy: 0.6864 - lr: 0.0021
Epoch 87/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7225 - accuracy: 0.6875 - lr: 0.0022
Epoch 88/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7183 - accuracy: 0.6848 - lr: 0.0022
Epoch 89/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7015 - accuracy: 0.6953 - lr: 0.0022
Epoch 90/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7152 - accuracy: 0.6842 - lr: 0.0022
Epoch 91/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7157 - accuracy: 0.6899 - lr: 0.0022
Epoch 92/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7007 - accuracy: 0.6971 - lr: 0.0023
Epoch 93/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7092 - accuracy: 0.6848 - lr: 0.0023
Epoch 94/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7008 - accuracy: 0.6930 - lr: 0.0023
Epoch 95/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7084 - accuracy: 0.6887 - lr: 0.0023
Epoch 96/100
667/667 [==============================] - 5s 8ms/step - loss: 0.7039 - accuracy: 0.6854 - lr: 0.0024
Epoch 97/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7055 - accuracy: 0.6873 - lr: 0.0024
Epoch 98/100
667/667 [==============================] - 5s 7ms/step - loss: 0.6953 - accuracy: 0.6951 - lr: 0.0024
Epoch 99/100
667/667 [==============================] - 5s 7ms/step - loss: 0.6955 - accuracy: 0.6965 - lr: 0.0024
Epoch 100/100
667/667 [==============================] - 5s 7ms/step - loss: 0.7058 - accuracy: 0.6909 - lr: 0.0024

In [24]:
loss, accuracy = model.evaluate(x_test, y_test)

68/68 [==============================] - 0s 3ms/step - loss: 3.6146 - accuracy: 0.3083

In [23]:
# model.fit(x_train, y_train, epochs= 300, batch_size= 164, callbacks=[checkpoint], verbose = 0)